absl-py
alabaster
albumentations
allennlp
astor
astunparse
attrs
Babel
backcall
beautifulsoup4
bert-for-tf2
bert-tensorflow
bilm
bleach
blis
bokeh
boto
boto3
botocore
cachetools
catalogue
cchardet
certifi
chardet
click
conllu
contractions
cycler
cymem
decorator
defusedxml
dill
docutils
editdistance
# en-core-web-sm
entrypoints
fastparquet
fastprogress
filelock
flaky
Flask
Flask-Cors
ftfy
future
gast
gensim
gevent
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
graphviz
greenlet
grpcio
h5py
idna
imageio
imagesize
imgaug
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
iterative-stratification
itsdangerous
jedi
jieba
Jinja2
jmespath
joblib
jsonnet
jsonpickle
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
keras-bert
keras-embed-sim
keras-layer-normalization
keras-multi-head
keras-pos-embd
keras-position-wise-feed-forward
Keras-Preprocessing
keras-self-attention
keras-transformer
kiwisolver
ktrain
langdetect
language-check
livelossplot
llvmlite
Markdown
MarkupSafe
matplotlib
mistune
mkl-fft
mkl-random
# mkl-service
more-itertools
munch
murmurhash
mxnet
# nb-conda
# nb-conda-kernels
# nbconvert
# nbformat
networkx
nltk
notebook
numba
numpy
numpydoc
oauthlib
opencv-python-headless
opt-einsum
overrides
packaging
pandas
pandocfilters
params-flow
parsimonious
parso
pexpect
pickleshare
Pillow
plac
pluggy
preshed
pretrainedmodels
prometheus-client
promise
prompt-toolkit
protobuf
ptyprocess
py
py-params
pyahocorasick
pyarrow
pyasn1
pyasn1-modules
pycontractions
pydot
pyemd
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytorch-pretrained-bert
pytorch-transformers
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
responses
rsa
s3transfer
sacremoses
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
sentencepiece
seqeval
six
sklearn
smart-open
snowballstemmer
soupsieve
spacy
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
srsly
syntok
tensorboard
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-gpu
tensorflow-hub
tensorflow-metadata
termcolor
terminado
testpath
textsearch
Theano
thinc
thrift
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typing-extensions
Unidecode
urllib3
wasabi
wcwidth
webencodings
Werkzeug
wget
widgetsnbextension
word2number
wrapt
zipp
